<div class="container">
  <div class="col-4 mx-auto">
    <h3>Favorite authors</h3>
    <a [routerLink]="['/']">Home</a>

    <form (submit)="onSubmit()">
      <!-- use the json pipe to see how newTask changes in real time -->
      <p>{{ newTask | json }} </p>
      <div class="form-group">
        <!-- <div *ngIf="title.invalid && (title.dirty || title.touched)" class="alert alert-danger">
        
                    <div *ngIf="title.errors.required">
                      Title is required.
                    </div>
                    <div *ngIf="title.errors.minlength">
                      Title must be at least 4 characters long.
                    </div>
        
        
                  </div> -->

        <div *ngFor="let error of errors">
          <p class="text-danger">{{error}}</p>
        </div>

        <label>Add a new author:</label>
        <input type="text" class="form-control" name="newAuthor.name" [(ngModel)]="newAuthor.name">
        <!-- <input type="text" required minlength="4" class="form-control" name="newTask.title"
                    [(ngModel)]="newTask.title" #title="ngModel"> -->

      </div>

      <a [routerLink]="['/']" class="btn btn-secondary b" role="button">Cancel</a>
      <input class="btn btn-primary btn ml-4" type="submit" value="Submit" />

    </form>
  </div>

</div>
